---
permalink: /
title: View Map
idd: view
---

{% include header.code %}

	<div class="map-holder">
	
		<div class="message list">
			<h3>Hotspots</h3>
			
			<ul>
				<li><a href="#" id="kuching">Kuching</a></li>
				<li><a href="#" id="miri">Miri</a></li>
				<li><a href="#" id="bintulu">Bintulu</a></li>
				<li><a href="#" id="sibu">Sibu</a></li>
				<li><a href="#" id="sematan">Sematan</a></li>			
				<li><a href="#" id="overview">Overview</a></li>			
				
			</ul>
		
		</div>
	
	    <div id='map'></div>
   	</div>
   	
{% include footer.code %}